html
  head
    title zech
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="./app.js")
    script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")
  body
    h1 zechCore
    p A peer-to-peer Live Streaming framework using WebRTC.
    br
    video#video(controls width="500px")
    br
    p Strategy option
    form
      input#zechstrategy0(type="radio" name="zechStrategy" onclick="zechCore.state.SetActive()" checked)
      label(for="zechstrategy0" onclick="zechCore.state.SetActive()") Active
      input#zechstrategy1(type="radio" name="zechStrategy" onclick="zechCore.state.SetCOOP()")
      label(for="zechstrategy1" onclick="zechCore.state.SetCOOP()" ) Cooperate
      input#zechstrategy2(type="radio" name="zechStrategy" onclick="zechCore.state.SetDepend()")
      label(for="zechstrategy2" onclick="zechCore.state.SetDepend()" ) Depend
    script.
      var video = document.getElementById('video');
      if (Hls.isSupported()) {
        var hls = new Hls({
          maxBufferHole: 1,
          maxBufferLength: 40,
          maxMaxBufferLength: 60,
          liveBackBufferLength: 30,
          liveSyncDurationCount: 10,
          liveMaxLatencyDurationCount: 20,
          liveDurationInfinity: true,
        });
        hls.loadSource('/hls/index.m3u8');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function() {
          video.play();
        });
      } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = '/hls/index.m3u8';
        video.addEventListener('loadedmetadata', function() {
          video.play();
        });
      }
