html
  head
    title zech
    script(src="./app.js")
  body
    h1 zechCore
    p A peer-to-peer Live Streaming framework using WebRTC.
    br
    video(src="https://zech.live/test-url?zech_core")
    br
    p Connected clients : <span class="zech-clients">0</span>